<h5>Raw Data</h5>
<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      City
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.name }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef>
      Population
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.value }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
